<div class="container title-heading">
  <p>TUTOR SCHEDULING</p>
  <p class="subheading">Select a TA to see their available times</p>
</div>

<div class="container ta-row">
  <div class="row">
		<main class="col-md-12" role="main">
			<section class="row text-center placeholders">

			  <div class="col-6 col-sm-2 placeholder">

			  <%= image_tag 'becky.jpeg', width: "100", height: "100", class: "ta-images" %>
			    <h4>Label</h4>
			    <span="text-muted">Something else</span>
			  </div>

			  <div class="col-6 col-sm-2 placeholder">
			      <%= image_tag 'chillpill.png', width: "100", height: "100", class: "ta-images" %>
			    <h4>Label</h4>
			    <span class="text-muted">Something else</span>
			  </div>

			  <div class="col-6 col-sm-2 placeholder">
			    <%= image_tag 'sneezy.png', width: "100", height: "100", class: "ta-images" %>
			    <h4>Label</h4>
			    <span class="text-muted">Something else</span>
			  </div>

			  <div class="col-6 col-sm-2 placeholder">
			      <%= image_tag 'thetaste.png', width: "100", height: "100", class: "ta-images" %>
			    <h4>Label</h4>
			    <span class="text-muted">Something else</span>
			  </div>

			  <div class="col-6 col-sm-2 placeholder">
			     <%= image_tag 'becky.jpeg', width: "100", height: "100", class: "ta-images" %>
			    <h4>Label</h4>
			    <span class="text-muted">Something else</span>
			  </div>

			  <div class="col-6 col-sm-2 placeholder">
			     <%= image_tag 'thetaste.png', width: "100", height: "100", class: "ta-images" %>
			    <h4>Label</h4>
			    <span class="text-muted">Something else</span>

			  </div>
			</section>
		</main>
	</div>
</div>

<div class="container ta-calendar">
	<div id="myCarousel" class="carousel slide">
	  <!-- Carousel items -->
		<div class="carousel-inner row">
			<div class="item"><p class="carousel-dates">Sunday</p></div>
			<div class="item"><p class="carousel-dates">Monday</p></div>
			<div class="item"><p class="carousel-dates">Tuesday</p></div>
			<div class="item"><p class="carousel-dates">Wednesday</p></div>
			<div class="item"><p class="carousel-dates">Thursday</p></div>
			<div class="item"><p class="carousel-dates">Friday</p></div>
			<div class="item"><p class="carousel-dates">Saturday</p></div>
		</div>
	  <!-- Carousel nav -->
	  <a class="carousel-control left" data-slide="prev">&lsaquo;</a>
	  <a class="carousel-control right" data-slide="next">&rsaquo;</a>
	</div>
	<p class="calendar-title">Select the time you would like to meet</p>
	<div class="col-md-2 buttons">
		<button type="button" class="btn btn-outline-success btn-block time-buttons">9:00 am</button>
		<button type="button" class="btn btn-outline-success btn-block time-buttons">10:00 am</button>
		<button type="button" class="btn btn-outline-success btn-block time-buttons">11:00 am</button>
		<button type="button" class="btn btn-outline-success btn-block time-buttons">12:00 pm</button>
		<button type="button" class="btn btn-outline-success btn-block time-buttons">1:00 pm</button>
		<button type="button" class="btn btn-outline-success btn-block time-buttons">2:00 pm</button>
		<button type="button" class="btn btn-outline-success btn-block time-buttons">3:00 pm</button>
		<button type="button" class="btn btn-outline-success btn-block time-buttons">4:00 pm</button>
	</div>
</div>
